@*@page
@model SooduskorvWebMVC.Models.ProductViewModel
@#1#model IEnumerable<SooduskorvWebMVC.Models.ProductViewModel    Cataloog ehk toote telh>#1#

    <div>
        <h1>Information about the requested product:</h1>
        @foreach (var product in Model.Products)
        {
            <p>@product.Id</p>
            <p>@product.Name</p>
            $1$<p>@product.Measure</p>

            <p>@product.Brand</p>
            <p>@product.CategoryId</p>
            <p>@product.Code</p>
            <p>@product.Composition</p>#1#
            <p>@product.Description</p>
            $1$<p>@product.SubCategoryId</p>
            <p>@product.PartyId</p>
            <p>@product.Name</p>
            <p>@product.CountryOfOrigin</p>#1#
        }
    </div>*@