@page
@using SooduskorvWebMVC.ComponentBases
@model SooduskorvWebMVC.ComponentBases.ProductTypeView

@{
    var item = new ProductTypeView();
    Layout = $"_Layout";// TODO
}


<link rel="stylesheet" href="~/css/components/catalog.components.css" />


<body>
    <div class="container">
        <div class="esh-catalog-items row">
            @for (var i = 0; i < 10; i++)
            {
                <div class="esh-catalog-item col-md-4">
                    <form asp-page="/Basket/Index" method="post">
                        <img class="esh-catalog-thumbnail" src="https://m1.selver.ee/media/catalog/product/cache/1/image/409x/9df78eab33525d08d6e5fb8d27136e95/4/7/4740125000108_2.jpg" />
                        <div class="esh-catalog-name">
                            <span>@item.Name @item.BrandId @item.Amount @item.UnitId</span>
                        </div>
                        <div class="esh-catalog-price">
                            @await Html.PartialAsync($"_PartialPriceView", item.Parties)
                        </div>
                        @*Töötab*@

                        @*<component type="typeof(CartItemBase)" render-mode="WebAssemblyPrerendered" />*@

                        @*<input class="esh-catalog-button" type="submit" value="Lisa ostukorvi" />
                            $1$<input type="hidden" asp-for="@item.Id" name="id" />
                                <input type="hidden" asp-for="@item.Name" name="name" />
                                <input type="hidden" asp-for="@item.Image" name="pictureUri" />
                                <input type="hidden" asp-for="@item.Amount" name="price" />#1#*@
                    </form>
                </div>
            }
        </div>
    </div>
</body>
<script>
    function showAlert(message) {
        alert(message);
    }
</script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts {
    <script src="~/_framework/blazor.webassembly.js"></script>
}