@page
@using Catalog.Data.Product
@using Catalog.Pages.Common.Extensions
@model Catalog.Pages.Products.ProductTypesPage

@{
    Layout = "_Create";
}
<body>
    <input type="hidden" asp-for="Item.ProductKind" />
    <input type="hidden" asp-for="Item.Id" />

    @Html.Editor(m => m.Item.Name)
    @Html.Editor(m => m.Item.Description)

    @if (Model.ProductKind != ProductKind.Service)
    {
        <input type="hidden" asp-for="Item.PeriodOfOperationFrom" />
        <input type="hidden" asp-for="Item.PeriodOfOperationTo" />
    }

    @if (Model.ProductKind != ProductKind.MeasuredProduct)
    {
        <input type="hidden" asp-for="Item.Amount" />
        <input type="hidden" asp-for="Item.UnitId" />
    }


    


    @if (Model.ProductKind == ProductKind.MeasuredProduct)
    {
        @Html.Editor(m => m.Item.Amount)
        @Html.DropDown(m => m.Item.UnitId, Model.Units)
    }


    @Html.Editor(m => m.Item.ValidFrom)
    @Html.Editor(m => m.Item.ValidTo)

</body>