@page
@using Catalog.Data.Product
@using Catalog.Pages.Common.Aids
@using Catalog.Pages.Common.Consts
@using Catalog.Pages.Common.Extensions
@model Catalog.Pages.Products.CatalogPage

@{
    Layout = "_Index";
    var page = Model.PageUrl;
}


<link rel="stylesheet" href="~/css/catalog/catalog.component.css" />




<body>



    <div class="esh-catalog-sidenav">
        @foreach (var basecategory in Model.BaseCategories.Where(x => x.Text is null))
        {
            <button class="esh-catalog-accordion">@Html.DisplayName(Model.CategoryName(basecategory.Value))</button>
            @foreach (var category in Model.BaseCategories.Where(x => x.Text == basecategory.Text))
            {
                <div class="esh-catalog-panel">
                 @Html.DisplayName(Model.CategoryName(category.Value))
                </div>

            }
        }
    </div>
    <script>
        var acc = document.getElementsByClassName("esh-catalog-accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                /* Toggle between adding and removing the "active" class,
                to highlight the button that controls the panel */
                this.classList.toggle("active");

                /* Toggle between hiding and showing the active panel */
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>
    



    <div class="container">
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                @Html.DropMenu("Sorteeri:",
            new Link(Html.DisplayName("Sorteeri tähestiku järgi"), Model.GetSortString(m => m.Name, page)),
            new Link(Html.DisplayName("Sorteeri koguse järgi"), Model.GetSortString(m => m.Amount, page))
            )
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="esh-catalog-items row">
            @foreach (var item in Model.Items)
            {
                <div class="esh-catalog-item col-md-4">
                    <form asp-page="/Basket/Index" method="post">
                        <img class="esh-catalog-thumbnail" src="https://m1.selver.ee/media/catalog/product/cache/1/image/409x/9df78eab33525d08d6e5fb8d27136e95/4/7/4740125000108_2.jpg" />
                        <div class="esh-catalog-name">
                            <span>@item.Name @Model.BrandName(item.BrandId) @item.Amount @Model.UnitName(item.UnitId)</span>
                        </div>

                        <div class="esh-catalog-prices">
                            @foreach (var instance in Model.ProductInstances.Where(x => x.Value == item.Id))
                            {
                                <div class="esh-catalog-partyname">
                                    @Html.Raw(Model.getPartyId(instance.Text))
                                    <div class="esh-catalog-price">
                                        @Html.Raw(Model.priceAmount(instance.Text))
                                    </div>
                                </div>
                            }
                        </div>

                        <input class="esh-catalog-button" type="submit" value="Lisa ostukorvi" />
                        <input type="hidden" asp-for="@item.Id" name="id" />
                        <input type="hidden" asp-for="@item.Name" name="name" />
                        <input type="hidden" asp-for="@item.Image" name="pictureUri" />
                        <input type="hidden" asp-for="@item.Amount" name="amount" />
                    </form>
                </div>
            }
        </div>
    </div>
</body>