@page
@using Catalog.Pages.Products
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using SooduskorvWebMVC.Components
@using Web.Pages.Common.Aids
@using Web.Pages.Common.Extensions
@inject IStringLocalizer<CatalogPage> Localizer
@inject IHtmlLocalizer<CatalogPage> HtmlLocalizer
@model Web.Pages.Catalog.Products.CatalogPage
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.Razor.TagHelpers

@{
    Layout = "_Index";
    var page = Model.PageUrl;
}
<link rel="stylesheet" href="css/nav.css" />
<body>

    @*<div class="clearfix">TODO temporary uncomment
        <div class="column menu">
            @foreach (var basecategory in Model.Categories.Where(x => x.Text is null))
            {
                <button class="dropdown-btn">@Html.DisplayName(Model.CategoryName(basecategory.Value))</button>
                <div class="dropdown-container">
                    @foreach (var category in Model.Categories.Where(x => x.Text == basecategory.Value))
                    {
                        <p> @Html.DisplayName(Model.CategoryName(category.Value))</p>
                    }
                </div>
            }
        </div>
    </div>*@

    <script type="text/javascript" src="js/nav.js"></script>

    @Html.DropMenu($"{Localizer["Sort"]}",
        new Link(Html.DisplayName($"{Localizer["Sort By Alphabet"]}"), Model.GetSortString(m => m.Name, page)),
        new Link(Html.DisplayName($"{Localizer["Sort By Quantity"]}"), Model.GetSortString(m => m.Amount, page))
        )

    <div class="container">
        <component type="typeof(SendBasketItem)" render-mode="ServerPrerendered" />
        @*<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">*@
        @*<ul class="navbar-nav flex-grow-1">*@
        @(await Html.RenderComponentAsync<CatalogItems>(RenderMode.ServerPrerendered, new {Products = Model.Items}))
        @*</ul>*@
        @*</div>*@
    </div>
    @(await Html.RenderComponentAsync<SendBasketItemBase>(RenderMode.ServerPrerendered))
</body>